// Обнуление стилей
@import "nullstyle.scss";
// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap');
//SCSS
body{
    background-color: #2e2828;
}
.header {

    &__info {
    }

    &__title {
    }

    &__text {
    }
}
.content {
    padding: 40px 0;
    max-width: 1000px;
    margin: 0 auto;
}
.main {
}
.guess {

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__board {
    }
}
.board {

    &__row {
        display: flex;
    }

    &__item {
        cursor: pointer;
        font-family: 'Kantumruy Pro', sans-serif;
        color: #2e2828;
        background-color: #FEF4F4;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        margin: 2.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        transition: background-color 0.3s linear;
    }
}
.board__item._selected{
    transition: background-color 0.3s linear;
    background-color: #F65151;
    color: #FEF4F4;
}
